
.features__bg{
    background-image: url('../images/features-bg.png'), linear-gradient(180deg, rgba(49, 18, 81, 0) 0%, #30124E 80.07%);
    background-color: rgba(48, 18, 78, 1);
    background-size: cover;
    background-repeat: no-repeat;
}

.features__content{
    padding: 179px 0 189px;
    height: 640px;
    width: 999px;

}