.main-intro{
    width: 100%;
    height: 712px;
    margin-top: 108px;
    position: relative;


    .main-intro__inner{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 774px;
        top: 108px;
        left: 0px;

        .main-intro__left{
            width: 45%;

            .main-intro__title{
                margin-top: 108px;
                font-size: 45px;
                font-weight: 500;
                line-height: 67px;
            }

            .main-intro__text-bold{
                margin-top: 19px;
                width: 460px;
                font-weight: 800;
                font-size: 18px;
                line-height: 30px;
            }

            .main-intro__text{
                margin-top: 36px;
                width: 460px;
                font-size: 18px;
                line-height: 30px;
                color: #776C82;
            }
        }

        .intro-main__right{
            width: 55%;
        }

        .main-intro__background{
            background: $color-purple;
            width: 440px;
            height: 540px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        }

        .main-intro__quote{
            padding-left: 64px;
            .main-intro__quote-inner{
                width: 377px;
                height: 504px;
                background: $color-purple;
                position: absolute;
                top: 36px;
                right: 0;
                z-index: 2;
                .main-intro__quote-content{
                    width: 255px;
                    height: 486px;
                    background: transparent;
                    margin: 18px 57px 0px 65px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .main-intro__quote-text{
                        font-size: 23px;
                        line-height: 40px;
                        color: $color-text-white;
                        font-family: 'Noticia Text', serif;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }

        .main-intro__img{
            z-index: 1;
            position: absolute;
            top: 36px;
            right: 245px;
        }
    }
}